{
    "logs": {
        "text": "report/infection/logs/infection-text.log",
        "summary": "report/infection/logs/infection-summary.log"
    },
    "tmpDir": "report/infection/",
    "minMsi": 100,
    "timeout": 90,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "",
        "customPath": "./vendor/bin/phpunit"
    },
    "mutators": {
        "@default": true,
        "CastInt": false,
        "LessThan": false,
        "CastArray": false,
        "CastString": false,
        "MethodCallRemoval": false,
        "LessThanNegotiation": false
    },
    "minCoveredMsi": 100,
    "testFramework": "phpunit"
}
