parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#Parameter ...#'
    - '#with generic#'
    - '#Cannot cast mixed#'
    - '#extends generic class#'
    - '#no value type specified in iterable type array#'
  reportUnmatchedIgnoredErrors: false
